{{#if success_msg}}
<div class="primeiroDiv"><h6>{{success_msg}}</h6></div>
{{/if}}

{{#if error_msg}}
<div class="primeiroDiv"><h6>{{error_msg}}</h6></div>
{{/if}}

{{#if error}}
<div class="primeiroDiv"><h6>{{error}}</h6></div>
{{/if}}

{{#each erros}}
    <div class="primeiroDiv">{{texto}}</div>
  {{else}}

{{/each}}
